body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(190, 239, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#3399FF;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:22px;
  width:276px;
  height:72px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#3399FF;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:168px;
  width:106px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:354px;
  width:1px;
  height:37px;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:228px;
  width:109px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:354px;
  width:128px;
  height:48px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:320px;
  width:263px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:47px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:431px;
  width:109px;
  height:47px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  word-wrap:break-word;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:276px;
  width:91px;
  height:1px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:274px;
  width:112px;
  height:22px;
}
#u344_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u344_input:disabled {
  color:grayText;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:56px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:431px;
  width:113px;
  height:56px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:109px;
  word-wrap:break-word;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:119px;
  width:181px;
  height:25px;
}
#u346_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:166px;
  width:112px;
  height:22px;
}
#u347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u347_input:disabled {
  color:grayText;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:223px;
  width:112px;
  height:22px;
}
#u348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u348_input:disabled {
  color:grayText;
}
