body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(190, 239, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(190, 239, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:32px;
  width:228px;
  height:39px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:407px;
  width:103px;
  height:64px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:407px;
  width:103px;
  height:64px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:99px;
  word-wrap:break-word;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:101px;
  width:297px;
  height:272px;
  overflow:hidden;
}
#u547_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:272px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u547_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:296px;
  height:88px;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:296px;
  height:88px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:296px;
  height:88px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:296px;
  height:88px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:194px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:45px;
  width:64px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:37px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:110px;
  width:232px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:202px;
  width:206px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:306px;
  width:180px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:408px;
  width:243px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:145px;
  width:64px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:229px;
  width:64px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:339px;
  width:72px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:435px;
  width:52px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:137px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:224px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:331px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:427px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u547_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:272px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u547_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:296px;
  height:88px;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:507px;
  width:152px;
  height:22px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:502px;
  width:80px;
  height:22px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:507px;
  width:1px;
  height:39px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:532px;
  width:72px;
  height:18px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:296px;
  height:88px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:296px;
  height:88px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:296px;
  height:88px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:296px;
  height:88px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:194px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:45px;
  width:64px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:37px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:110px;
  width:232px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:202px;
  width:206px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:306px;
  width:180px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:408px;
  width:243px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:145px;
  width:64px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:229px;
  width:64px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:339px;
  width:72px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:435px;
  width:52px;
  height:17px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:137px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:224px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:331px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:427px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:524px;
  width:121px;
  height:33px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#66FFFF;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:79px;
  width:137px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
