body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1205px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:800px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.317647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:10px;
  width:1202px;
  height:800px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:214px;
  width:1202px;
  height:596px;
  overflow:hidden;
}
#u531_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:596px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u531_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:209px;
  background:inherit;
  background-color:rgba(102, 153, 0, 0.317647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:106px;
  width:353px;
  height:209px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:212px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:106px;
  width:3px;
  height:209px;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:163px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:130px;
  width:3px;
  height:160px;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:163px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:130px;
  width:3px;
  height:160px;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:6px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:210px;
  width:237px;
  height:3px;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:359px;
  height:6px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:132px;
  width:356px;
  height:3px;
}
#u537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:359px;
  height:6px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:289px;
  width:356px;
  height:3px;
}
#u538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:209px;
  background:inherit;
  background-color:rgba(102, 153, 0, 0.317647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:106px;
  width:353px;
  height:209px;
}
#u539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:212px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:106px;
  width:3px;
  height:209px;
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:163px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:130px;
  width:3px;
  height:160px;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:163px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:130px;
  width:3px;
  height:160px;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:6px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:210px;
  width:237px;
  height:3px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:152px;
  width:21px;
  height:16px;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:246px;
  width:18px;
  height:16px;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:120px;
  width:118px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:178px;
  width:118px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:58px;
  width:459px;
  height:22px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  word-wrap:break-word;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:58px;
  width:459px;
  height:22px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  word-wrap:break-word;
}
#u550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:91px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#66FFFF;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:434px;
  width:165px;
  height:91px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#66FFFF;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:161px;
  word-wrap:break-word;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:91px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#66FFFF;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:434px;
  width:165px;
  height:91px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#66FFFF;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:161px;
  word-wrap:break-word;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:359px;
  height:6px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:132px;
  width:356px;
  height:3px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:359px;
  height:6px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:289px;
  width:356px;
  height:3px;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:152px;
  width:21px;
  height:16px;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:246px;
  width:18px;
  height:16px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:118px;
  width:118px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:178px;
  width:118px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:224px;
  width:118px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:272px;
  width:118px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:272px;
  width:118px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:271px;
  width:118px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:224px;
  width:118px;
  height:12px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:192px;
  width:443px;
  height:39px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
#u564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:194px;
  width:1px;
  height:39px;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#3399FF;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:72px;
  width:487px;
  height:86px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#3399FF;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
