body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(190, 239, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:32px;
  width:151px;
  height:39px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:113px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:107px;
  width:126px;
  height:113px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  word-wrap:break-word;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:113px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:107px;
  width:126px;
  height:113px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  word-wrap:break-word;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:113px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:236px;
  width:126px;
  height:113px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:122px;
  word-wrap:break-word;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:113px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:236px;
  width:126px;
  height:113px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:122px;
  word-wrap:break-word;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:72px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:396px;
  width:83px;
  height:72px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#66FFFF;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
