body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1188px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:800px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.317647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:0px;
  width:1202px;
  height:800px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#3399FF;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:53px;
  width:721px;
  height:86px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#3399FF;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  white-space:nowrap;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:183px;
  width:1192px;
  height:472px;
  overflow:hidden;
}
#u1063_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:472px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1063_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:61px;
  width:346px;
  height:39px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u1063_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:472px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1063_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:368px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.317647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:1191px;
  height:368px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:18px;
  width:314px;
  height:30px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:24px;
  width:216px;
  height:25px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:17px;
  width:1px;
  height:39px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:91px;
  width:162px;
  height:39px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:91px;
  width:162px;
  height:39px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:188px;
  width:216px;
  height:36px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:187px;
  width:216px;
  height:32px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:22px;
  width:58px;
  height:29px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:22px;
  width:114px;
  height:29px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:96px;
  width:70px;
  height:29px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:96px;
  width:55px;
  height:29px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:191px;
  width:85px;
  height:29px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:188px;
  width:78px;
  height:29px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:282px;
  width:117px;
  height:29px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:284px;
  width:21px;
  height:25px;
}
#u1080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:284px;
  width:21px;
  height:25px;
}
#u1081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:91px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#66FFFF;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:665px;
  width:165px;
  height:91px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#66FFFF;
}
#u1082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:161px;
  word-wrap:break-word;
}
